<h2>Iniciar sesión</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Usuario</mat-label>
    <input matInput
    placeholder="Ingrese su usuario"
    formControlName="username"
    >
    @if (loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)) {
      <div class="text-red-500">
          El usuario es obligatorio
      </div>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Contraseña</mat-label>
    <input matInput
    placeholder="Ingrese su usuario"
    formControlName="password"
    [type]="showPassword ? 'text' : 'password'"
    [class.is-invalid]="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
    >
    @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)) {
      <div class="text-red-500">
          La contraseña es obligatoria
      </div>
    }
  </mat-form-field>

  <button mat-flat-button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
</form>